body {
    background-color: #2E5266;
    padding-top: 20rem;
}

.quote {
    font-family: Helvetica;
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 3px solid #6E8898;
    color: #fff;
    border-radius: 0.4rem;
}

.quote .text {
    font-style: italic;
    margin-bottom: 0.4rem;
}

.quote .author {
    font-weight: bold;
    color: #182A35;
}

.button {
    font-size: 1.4rem;
    background-color: #6E8898;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    opacity: .6;
}